@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0; 
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.04em;
  /* font-weight: 600; */
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.bg-gold {
  background-color: #FFD700;
}

.bg-silver {
  background-color: #C0C0C0;
}

.bg-bronze {
  background-color: #CD7F32;
}
